Pipeline <a href="<%= locals.project.web_url %>/-/pipelines/<%= locals.object_attributes.id %>"><%= locals.object_attributes.id %></a> for <a href="<%= locals.project.web_url %>/-/commits/<%= locals.object_attributes.ref %>"><%= locals.object_attributes.ref %></a>@<a href="<%= locals.project.web_url %>"><%= locals.project.path_with_namespace %></a> <%= locals.object_attributes.status %><br>
Commit <a href="<%= locals.commit.url %>"><%= locals.commit.id %></a> by <%= locals.commit.author.name %>
<% if ("failed" === locals.object_attributes.status) { _%>
<pre><%= locals.commit.message %></pre>
<table>
    <thead>
    <tr>
        <%_ locals.object_attributes.stages.forEach(function(stage) { _%>
            <th><%= stage %></th>
        <%_ }) _%>
    </tr>
    </thead>
    <tbody>
    <tr>
        <%_ locals.object_attributes.stages.forEach(function(stage) { _%>
            <td style="vertical-align: top">
                <%_ locals.builds.filter(function(build) { return stage === build.stage }).forEach(function(build) { _%>
                    <%_
                    if ("success" === build.status) {
                        %>✅<%
                    } else if ("failed" === build.status) {
                        %>❌<%
                    } else {
                        %>⏱<%
                    } %> <%= build.name _%> <br>
                <%_ }) _%>
            </td>
        <%_ }) _%>
    </tr>
    </tbody>
</table>
<% } %>