Pipeline <%= locals.object_attributes.ref %>@<%= locals.project.path_with_namespace %> for <%= locals.object_attributes.status %>
<%= locals.project.web_url %>/-/pipelines/<%= locals.object_attributes.id %>

Commit <%= locals.commit.id %> by <%= locals.commit.author.name %>
<%= locals.commit.url %>

<% if ("failed" === locals.object_attributes.status) { _%>
----
<%= locals.commit.message %>
----

<% locals.object_attributes.stages.forEach(function(stage) { _%>
-- <%= stage %> --
<%_
    locals.builds.filter(function(build) { return stage === build.stage }).forEach(function(build) {
        if ("success" === build.status) {
        %>✅<%
        } else if ("failed" === build.status) {
        %>❌<%
        } else {
        %>⏱<%
        } %> <%= build.name %>
<% }) %>
<%
})
} %>